parameters:
	ignoreErrors:
		-
			message: '#^Match expression does not handle remaining value\: string$#'
			identifier: match.unhandled
			count: 1
			path: src/Config/InteractiveBuilder.php

		-
			message: '#^Match expression does not handle remaining value\: mixed$#'
			identifier: match.unhandled
			count: 1
			path: src/Config/InteractiveBuilder.php

		-
			message: '#^Method Ezdeliver\\Config\\InteractiveBuilder\:\:getRequiredValue\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Config/InteractiveBuilder.php

		-
			message: '#^Property Ezdeliver\\Packager\:\:\$configsDirPath is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Packager.php

		-
			message: '#^Method Ezdeliver\\Repo\\Converter\\GithubRawDataConverter\:\:buildCommitFromRawData\(\) has parameter \$rawData with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repo/Converter/GithubRawDataConverter.php

		-
			message: '#^Method Ezdeliver\\Repo\\Converter\\GithubRawDataConverter\:\:buildSelectorFromRawData\(\) has parameter \$rawData with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repo/Converter/GithubRawDataConverter.php

		-
			message: '#^Method Ezdeliver\\Repo\\Converter\\GithubRawDataConverter\:\:buildPrFromRawData\(\) has parameter \$rawData with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repo/Converter/GithubRawDataConverter.php

		-
			message: '#^Method Ezdeliver\\Repo\\Converter\\GitlabRawDataConverter\:\:buildCommitFromRawData\(\) has parameter \$rawData with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repo/Converter/GitlabRawDataConverter.php

		-
			message: '#^Method Ezdeliver\\Repo\\Converter\\GitlabRawDataConverter\:\:buildSelectorFromRawData\(\) has parameter \$rawData with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repo/Converter/GitlabRawDataConverter.php

		-
			message: '#^Method Ezdeliver\\Repo\\Converter\\GitlabRawDataConverter\:\:buildPrFromRawData\(\) has parameter \$rawData with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repo/Converter/GitlabRawDataConverter.php
